ul {
    position: absolute;
    background: #D5B0AC;
    color: #402E2A;
    padding-left: 0;
}

li {
    width: 100px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
}

li:hover {
    background: #9CD08F;
    color: #FFFFFF;
    cursor: pointer;
}

nav>ul>li:hover>ul {
    display: block;
    top: 40px;
}

li:hover>ul {
    display: block;
}

ul ul {
    display: none;
    margin: 0;
    width: 100%;
    postion: absolute;
    left: 0px;
}

ul ul ul{
    left: 100%;
    margin-left: 0;
    top: 0%;
}
